<div id="addCategorieModal" class="modal fade" role="dialog">
    <form role="form" id="newCategory">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a Categorie</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group" id="newCategoryFormGroup">
                        <label>Name</label>
                        <input id="newCategory" class="form-control">

                        <p class="help-block error-block"><i class="fa fa-exclamation-triangle"></i> Can't be empty</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success"/>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("form#newCategory").submit(function(){
        //Check if the url respects the good format
        var that = this;
        var data = {"name" : $("input#newCategory").val()};
        console.dir(data);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/categories",
            data: JSON.stringify(data),
            processData: false,
            dataType: "json",
            success: function(result) {
                window.location.replace("{{path('get_links')}}");
            },
            error: function(result) {
            }
        });
        $('#addALinkModal').modal('hide')


        return false;
    });
</script>
