<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Bookmark</h4>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" value="{{title}}">
                    <p class="help-block error-block"><i class="fa fa-exclamation-triangle"></i>Can't be empty</p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Delete Folder</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Save Change</button>
        </div>
    </div>

</div>