<div class="head">
    <div class="title">
        <h1>ReadIt Later</h1>
    </div>

    <div class="search">
        <input id="url" class="form-control">
        <div class="loupe">
            <i class="fa fa-search fa-2x"></i>
        </div>
    </div>

    <div class="addLink">
        <button (click)="addLink()" class="btn btn-default end">Add a Link</button>
    </div>
</div>
