<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">ReadIt Later</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li>
            <a href="#"><i class="fa fa-heart-o fa-lg unlike"> Like</i><i class="fa fa-heart fa-lg like"> Unlike</i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-folder-o fa-lg"> Folder</i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-archive fa-lg"> Archive</i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-trash-o fa-lg"> Delete</i></a>
        </li>
        <!-- /.dropdown -->
    </ul>
</nav>