.popUp {
	width: 700px;
	border-radius: 10px;
	background-color: white;
}

.popUp div {
	padding: 0px 15px;
}

div.popUp .headerPopUp {
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #BDBDBD;
}

div.popUp .headerPopUp div {
	display: inline-block;
}

div.popUp .headerPopUp .title {
	width: 90%;
}

div.popUp .headerPopUp .cross {
	color: black;
}

div.popUp .headerPopUp .cross:hover {
	cursor: pointer;
	color: #1a8cff;
}

div.popUp form {
	padding: 10px;
}

div.popUp .form-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.popUp form button {
	display: inline-block;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px 20px 0px 20px;
}

div.popUp .form-group .error-block {
	display: none;
}

div.popUp .form-group.has-error .error-block {
	display: block;
}

.nav a:hover {
	cursor: pointer;
}

.panel-heading button {
	visibility: hidden;
	margin-left: 20px;
}

.panel-heading:hover button {
	visibility: visible;
}

.headerRow {
	font-size: 1.5em;
	color: white;
}

.headerRow:hover {
	color: black;
	text-decoration: none;
}


.footerRow li {
	margin-left: 10px ;
}

.footerRow li:hover {
	cursor: pointer;
	color: #1a8cff;
}

.like {
	display: none;
}

.unlike {
	display: inline-block;
}

.liked .like {
	display: inline-block;
}

.liked .unlike {
	display: none;
}

